@import "bootstrap.less";

.jumbotron {
    background-color: rgb(32, 32, 32);
    color:  rgb(65, 105, 225);
}

.jumbotron {
    background: url(../img/earth-banner.svg) no-repeat center rgb(32, 32, 32);
}

body, .btn-primary {
    background-color: rgb(65, 105, 225);
    color: rgb(32, 32, 32) !important;
}

a.option {
    background-color: rgb(65, 105, 225);
    color: rgb(32, 32, 32) !important;
}

hr {
    border-top: 1px solid rgb(32, 32, 32);
}

#map {
	width:800px; 
	height:300px;
}

